<body>
  <div class="main-infos">
    <p>Léo-Paul Armand — Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
    <p>ARCHITECTURE & DESIGN</p>
  </div>
  <ul class="skill-container">
    <li>1.0 <span class="skill-cat try"><%= link_to graphisme_path do %> graphisme <% end %></div></li>
    <li>2.0 <span class="skill-cat try2"><%= link_to troisd_path do %> 3d <% end %></span></li>
    <li>3.0 <span class="skill-cat try3"><%= link_to animation_path do %> animation <% end %></span></li>
    <li>4.0 <span class="skill-cat try4"><%= link_to design_path do %> design <% end %></span></li>
    <li>5.0 <span class="skill-cat try5"><%= link_to architecture_path do %> architecture <% end %></span></li>
  </ul>
</body>
