<!DOCTYPE html>
<html>
  <head>
    <title>LPA</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%#= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
    <!-- from app/assets/javascripts/application.js -->
    <!-- from app/javascript/packs/application.js -->
    <%= javascript_pack_tag 'application' %>
    <%= favicon_link_tag asset_path('logo1.png') %>
  </head>
  <body>
    <%= yield %>
    <%= javascript_include_tag 'application' %>

  </body>
</html>
